body{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5px;
}

header, footer, main{

	padding: 0 10%;
}


header{

}

main{
width: 100%;
}

footer{
	text-align:center;

}


h1, h2 {
	font-family: 'Staatliches', cursive;

}



