{% extends 'base.html.twig' %}

{% block title %}Nouvel artiste - AKA77{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel artiste</h1>

    {{ include('artists/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('adminArtistes') }}">Retour à la liste</a>
{% endblock %}
