


{% extends 'base-front.html.twig' %}



{% block header %}
{{ parent() }}
{% endblock %}




{% block body %}

<h1 class="galery animated fadeInUpBig">LES ARTISTES</h1>

   <p style="padding-left:10%;">Les artistes du collectif...</p>





 
{% include 'public/section-artistes.html.twig' %}


{% endblock %}