
{% extends 'base-front.html.twig' %}

{% block header %}
{{ parent() }}
{% endblock %}
{% block banner %}

 {% endblock %}
{% block body %}
<section style="padding:0; margin:0;">




<article id="slider-art">
<div id="carroussel-artiste" class="carousel slide"data-ride="carousel" style="">
 <ol class="carousel-indicators" style="margin-top:10px;">
    <li data-target="#carroussel-artiste" data-slide-to="0" class="active" ></li>
    <li data-target="#carroussel-artiste" data-slide-to="1"></li>
  
  </ol>

  <div class="carousel-inner" >
    <div class="carousel-item active">
    <!--
      <div class="carousel-caption d-none d-md-block">
    <a href="<?php echo $lienTitre1 ?>"><h1>SLIDE 1
    <span>2018-2019</span></h1></a>
  </div>
  -->
 
<section class="description">
<article style="height:450px;">

<h1 style="color:#f8f408;margin:20px auto 20px; letter-spacing:2px;">LE COLLECTIF AKA77</h1>
<p>
Réunis autour d’une même passion pour le Graffiti dans toutes ses formes et sous toutes ses 
coutures, 8 artistes peintres de Marseille sont à l’origine de la création de l’association AKA 77 : ALFE, ASHA,BOBAR, DIFUZ, GAMO, KITSA, RISH, VEGA.
Fresques monumentales, expositions collectives, événements autour du graffiti, 
Ateliers ou d’autres propositions artistiques sont au programme.
77 boulevard de Lyon chez ICI Marseille que vous nous trouverez !
</p>
 
</article>



</section>

  <img class="d-block w-100" src="assets/img/gamo/3.jpg" alt="First slide">
   
    </div>
    <div class="carousel-item">




<section class="description" >
<article style="height:450px;">


<h1 style="color:#f8f408;margin:20px auto 20px; letter-spacing:2px;">EN CE MOMENT</h1>

{{article.contentArticle|slice(0, 300)|raw}}

 
</article>



</section>

    

     
    
    </div>

</div>


</section>




<h1 class="galery animated fadeInUpBig">LES ARTISTES</h1>
 
{% include 'public/section-artistes.html.twig' %}


<section class="description" style="margin:60px auto 40px;">
<article>

<h1 style="color:#ffffff;margin:20px auto 40px; letter-spacing:2px;">LE STREET ART</h1>
<p>L'art urbain  est un mouvement artistique contemporain. 
Il regroupe toutes les formes d’art réalisé dans la rue, ou dans des endroits publics, et englobe diverses techniques telles que le graffiti, le pochoir, la mosaïque, les stickers ou les installations. 
C'est principalement un art éphémère vu par un très grand public.
C’est dans le métro de New York que le graffiti fait son entrée en Amérique dans les années 1970.</p>
</article>

</section>

<section class="map" class="galery animated fadeInUp"> 

<h1 class="galery animated fadeInUpBig">LE LIEU</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.422743860837!2d5.364287315857656!3d43.326342179133945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c05bb02d2395%3A0x9a744c6d902ff071!2s77+Rue+de+Lyon%2C+13015+Marseille!5e0!3m2!1sfr!2sfr!4v1548342848515"></iframe>
</section>

<section class="blog" style="display:none;">


<h1>En ce moment</h1>
<!--
<form >        
       
            <label for="name"> </label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Nom" value="">
            <div class="valid-feedback"></div>

            <label for="email"></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Mail" value="">
            <div class="valid-feedback"></div>      
            
            <button class="btn btn-primary" type="submit" style="margin-top:30px;text-align:right;">envoyer</button>
            
            <input type="hidden" name="idForm" value="newsletterCreate" >
      
<div class="message-form"><?php echo $newsletterCreateMessage ?? "" ?></div>
</form>
-->

 <article class="article animated fadeInUpBig">
     
        <div class="article-content">
        <a href="article">
        <div class="img-article">
        <img src="assets/img/rish/1.jpg" alt="">
        </div>
        <div class="article-header" >
        <h3>TITRE 3</h3>
        <span><a href="article"> auteur : AKA77 </a>- <a href="article">category : ACTU</a> - date : mars 2018</span>
        </div>
        <p> Extrait de l'article... <a href="article">Lire la suite</a></p>
        </a>
      
        <form class="likeForm">
        <a class="" type="submit" class="envoiLike"><div class="reponseAjax"><i class="fas fa-heart" style="margin:0 5px;"></i><p>0</p></div></a>
        <input type="hidden" name="idForm" value="like-form-art" >
        </form>
        <div>     

        </article>



</section>



{% endblock %}