{% extends 'base-front.html.twig' %}

{% block header %}

   {{ parent() }}

{% endblock %}


{% block body %}


<h1 style="margin-top:100px;margin-bottom:60px">TEAM D</h1>
<section class="animated fadeInUpBig" style="margin:0px 10px 400px;">

       <div class="view view-tenth">
                    <img src="assets/img/upload/6.jpg" />
                    <div class="mask" >
                        <h2>AMEL</h2>
                             <p style="margin-bottom:0px">Intégrateur & Développeur Back</p>
                    </div>
                </div>
                       <div class="view view-tenth">
                    <img src="assets/img/upload/2b18c50534226c6a5b26ebb730fa2b0b.jpg" />
                    <div class="mask">
                        <h2>Marie</h2>
                         <p style="margin-bottom:0px">Intégrateur & Développeur Front</p>
                        
                    </div>
                </div>
                <div class="view view-tenth">
                    <img src="assets/img/upload/432fc40561853ee554ef6551b8793404.jpg" />
                    <div class="mask">
                        <h2>Will</h2>                        
                        <p style="margin-bottom:0px">Intégrateur & Développeur Back</p>
                          
                      
                    </div>
                </div>
                <div class="view view-tenth">
                    <img src="assets/img/upload/8eb99f2ca89fd1666f504d8b70c50489.jpg" />
                    <div class="mask">
                        <h2>XAVIER</h2>
                           <p style="margin-bottom:0px">Intégrateur & Développeur Front</p>
                     
                    </div>
                </div>
         
</section>

{% endblock %}

